<%- include("header") -%>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1> Comments </h1>
	  <h2>Hello <%=username %></h2>
    </main>
  </body>

<%- include("footer") -%>
