<%- include("header") -%>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1> Comments Page</h1>
	  <h2>Hello <%=username %></h2>
	  <form class="form-close" action="/post-comment" method="post" style="margin-top:30px">
        <input type="text" name="comment">
		<input type="hidden" name="username" value=<%=username %>>
		<%
			var date_time = new Date(year, month, day, hours, minutes, seconds, milliseconds);
		%>
		<input type="hidden" name="date" value=<% date_time %>>
        <button class="btn btn-success" type="submit">Post Comment</button>
      </form>
    </main>
  </body>

<%- include("footer") -%>
